body {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    margin: 0;
}
h1 {
    font-size: 5em;
    line-height: 85%;
}
ul {
    font-size: 2em;
}

a, a:hover {
    color: #ffffff;
}

#about-text, #travel-text, #game-text, #noon-text { 
   position: absolute;
   top: -9999px;
   left: -9999px;
   font-size: 2em;
}

.about:hover #about-text, .travel:hover #travel-text, .game:hover #game-text {
    top:1em;
    left:1em;
    padding-right:.5em;
}
.noon:hover #noon-text {
    position:relative;
    top:0;
    left:0;
}
.about {
    background-image: url('../image/about.png');
    background-size: cover;
    background-position: left bottom;
}
.about:hover {
    background-image: url('../image/abouth.png');
}
.game {
    background-image: url('../image/star-title.png');
    background-size: cover;
}
.game:hover {
    background-image: url('../image/star-titleh.png');
}
.travel {
    background-image: url('../image/travel.png');
    background-size: cover;
    background-position: left bottom;

}
.travel:hover {
    background-image: url('../image/travelh.png');
}
.art {
    background-image: url('../image/portfolio.png');
    background-size: cover;
}
.art:hover {
    background-image: url('../image/arth.png');
}
.noon {
    color: #ffffff;
    background-image: url('../image/noon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
.noon:hover {
    background-image: url('../image/noonh.png');
}
.cat {
    background-image: url('../image/cat.png');
    background-size: cover;
}
.cat:hover {
    background-image: url('../image/cath.png');
}

/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
    margin:0;
}
.row-xs-height {
    display:table-row;
    height:325px;
}
.col-xs-height {
    display:table-cell;
    float:none;
}
/*
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}*/

/* vertical alignment styles */
.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
    padding-bottom:.6em;
}
