---
layout: default
---


<!-- One -->
    <section id="about">
        <div class="container">

            <header class="major">
                <h2>Hi, I’m Jingyi!</h2>

                <p class="about-subhead">I’m a computer science Ph.D. student at Stanford.</p>
            </header>

            <div class="about-container">

                <p class="about-text">I do research in human-computer interaction. Most of my work focuses on creativity support tools or fabrication. I really like making things, and enabling others to do the same. I am co-advised by <a href="https://shape.stanford.edu">Sean Follmer</a> and <a href="https://graphics.stanford.edu/~maneesh/">Maneesh Agrawala</a>. I did my undergrad at UC Berkeley, where I was advised by <a href="https://people.eecs.berkeley.edu/~bjoern/">Björn Hartmann</a>.</p>

                <img class="image avatar about-photo" src="image/me.png" alt="A picture of me, Jingyi. My hair color has probably changed." />
            </div>
        </div>
    </section>

<!-- Two -->
    <section id="research">
        <div class="container">
            <h2>Research</h2>
                <div class="features">

                    {% for paper in site.data.papers %}

                    <article>

                        {% if paper.details %}
                          <a class="image" href="{{paper.details}}"><img src="{{paper.thumb}}" alt="{{paper.alt}}" /></a>
                        {% else %}
                            <img class="image" src="{{paper.thumb}}" alt="{{paper.alt}}" />
                        {% endif %}
                        <div class="inner small">
                            <h4>{{paper.title}}</h4>
                            <p class="authors">{{paper.authors}}</p>
                            <p class="paper-desc">{{paper.description}}</p>
                            <p class="paper-meta">{% if paper.details %} <a href="{{paper.details}}">Details</a>  &nbsp;/&nbsp; {% endif %} <a href="{{paper.paper-link}}">Paper (PDF)</a> &nbsp;/&nbsp; <span class="highlight">{{paper.conference}}</span></p>
                        </div>
                    </article>
                    
                    {% endfor %}
            </div>

        </div>
    </section>

<!-- Three -->
    <section id="proj">
        <div class="container">
            <h2>Projects</h2>
            <p>These are older non-research related—but still fun!—things.</p>
            <div class="features">
                {% for proj in site.data.projects %}

                    <article>

                        <a class="image" href="{{proj.details}}"><img src="{{proj.thumb}}" alt="{{proj.alt}}" /></a>
                        <div class="inner">
                            <h4>{{proj.title}}</h4>
                            <p class="paper-desc">{{proj.description}}</p>
                            <p class="paper-meta"><a href="{{proj.details}}">Details</a>  &nbsp;/&nbsp; {{proj.year}} </p>
                        </div>
                    </article>
                    
                {% endfor %}

            </div>
        </div>
    </section>

     <section id="personal">
        <div class="container">
            <h2>Personal</h2>
            <p>Sometimes—a lot in the past, but not so much now—I <a href="https://jingyili.carbonmade.com/">draw</a>. Sometimes I <a href="static/novella-salon.pdf">write</a>. Sometimes I participate in fandom, and sometimes I even <a href="research/hannibal">present it academically</a>. I grew up in a Southern Californian suburb which means that I grew up on the internet. I am very passionate about Pokémon.</p>

            <p>I was briefly a UI/UX designer at NVIDIA before I was a graduate student. I spent the majority of my Berkeley years living in cooperative student housing, where I contributed <a href="proj/murals">four murals</a> to the walls of Cloyne Court.</p>

            <p class="last-par">My hair changes color often! If I'm not lazy about it, click <a href="#" id="change-hair">here</a> to see its current shade.</p>
        </div>
    </section>

