---
layout: default
---


<!-- One -->
    <section id="about">
        <div class="container">

            <header class="major">
                <h2>Hi, I’m Jingyi!</h2>

                <p class="about-subhead">I’m a computer science educator and<br/>
                 human-computer interaction researcher.</p>
            </header>

            <div class="about-container">

                <img class="image avatar about-photo" src="image/me.png" alt="A picture of me, Jingyi. My hair color has probably changed." />
                
                <p class="about-text">
                    I'm an Assistant Professor of <a href="https://www.pomona.edu/academics/departments/computer-science">Computer Science at Pomona College</a>, where I direct the <a href="http://doodlelab.sites.pomona.edu/">Doodle Lab</a>. My work focuses on understanding, designing, and critiquing <b>creativity support tools</b>. 
                    I believe in the liberatory power of every day making and investigate how computation can augment these practices without displacing existing manual skills. <br/><br/>

                    My PhD is from <a href="https://hci.stanford.edu/">Stanford University</a> where I was co-advised by <a href="https://shape.stanford.edu">Sean Follmer</a> and <a href="https://graphics.stanford.edu/~maneesh/">Maneesh Agrawala</a>. I did my undergrad at <a href="https://bid.berkeley.edu/">UC Berkeley</a>, where I worked with <a href="https://people.eecs.berkeley.edu/~bjoern/">Björn Hartmann</a>.


            </div>
        </div>
    </section>

<!-- Three -->
    <section id="research">
        <div class="container">
            <h2>Research</h2>
                <div class="features">

                    {% for paper in site.data.papers %}

                    <article>

                        {% if paper.details %}
                          <a class="image" href="{{paper.details}}"><img src="{{paper.thumb}}" alt="{{paper.alt}}" /></a>
                        {% else %}
                            <img class="image" src="{{paper.thumb}}" alt="{{paper.alt}}" />
                        {% endif %}
                        <div class="inner small">
                            <h4>{{paper.title}}</h4>
                            <p class="authors">{{paper.authors}}</p>
                            <p class="paper-desc">{{paper.description}}</p>
                            <p class="paper-meta">{% if paper.details %} <a href="{{paper.details}}">Details</a>  &nbsp;/&nbsp; {% endif %} 
                            {% if paper.zine %} <a href="{{paper.zine}}">Zine</a>  &nbsp;/&nbsp; {% endif %} 
                            <a href="{{paper.paper-link}}">Paper (PDF)</a> &nbsp;/&nbsp; <span class="highlight">{{paper.conference}}</span></p>
                        </div>
                    </article>
                    
                    {% endfor %}
            </div>

        </div>
    </section>

        <!-- Two -->
    <section id="teaching">
        <div class="container teaching">
            <h2>Teaching</h2>
                <b> Spring 2024 </b>
                <ul>
                    <li><a href="https://cs.pomona.edu/classes/cs181dt/">CS181DT - Computational Design Tools</a></li>
                    <li><a href="https://cs.pomona.edu/classes/cs51p/">CS51P - Introduction to CS in Python</a> (with <a href="https://cs.pomona.edu/~tzuyi/">Prof. Chen</a>)</li>
                </ul>

            <p>My office hours for Spring 2024 are Mon/Tues/Wed 4:15-5:15pm in Edmunds 111. If you're a 5C student and would like to grab lunch, sign up with the link posted on my office door.</p>

        </div>
    </section>

<!-- Four -->
    <section id="proj">
        <div class="container">
            <h2>Projects</h2>
            <p>These are older non-research related—but still fun!—things.</p>
            <div class="features">
                {% for proj in site.data.projects %}

                    <article>

                        <a class="image" href="{{proj.details}}"><img src="{{proj.thumb}}" alt="{{proj.alt}}" /></a>
                        <div class="inner">
                            <h4>{{proj.title}}</h4>
                            <p class="paper-desc">{{proj.description}}</p>
                            <p class="paper-meta"><a href="{{proj.details}}">Details</a>  &nbsp;/&nbsp; {{proj.year}} </p>
                        </div>
                    </article>
                    
                {% endfor %}

            </div>
        </div>
    </section>

     <section id="personal">
        <div class="container">
            <h2>Personal</h2>
            <p>My hobbies include drawing, sewing, writing flash fiction, and participating in fandom, which I sometimes <a href="research/hannibal">present academically</a>. <!-- I also spend time going to shows (I was briefly a college radio DJ), playing with my rats, and bird watching. --> I grew up in a Southern Californian suburb and I grew up on the internet. My Chinese name is 李敬怡.</p>

            <p>I was briefly a UI/UX designer at NVIDIA before I was a graduate student. I spent the majority of my Berkeley years living in cooperative student housing, where I contributed <a href="proj/murals">four murals</a> to the walls of Cloyne Court.</p>

            <p class="last-par">My hair changes color often. If I'm not lazy about it, click <a href="#" id="change-hair">here</a> to see its current shade.</p>
        </div>
    </section>

