
	<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html" charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{% if page.title %}{{ site.title }}: {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
		<meta name="description" content="Jingyi Li is an HCI researcher working on creativity support tools. They are an assistant professor at Pomona College and received a Ph.D. in computer science from Stanford University." />
		<meta name="keywords" content="Jingyi Li, Pomona College, Pomona, Stanford, Berkeley, CS, Computer Science, HCI, human-computer interaction, design, portfolio, research, Cal, EECS" />
		<meta name="author" content="Jingyi Li">
	    <meta property="og:title" content="Jingyi Li" />

        <link rel="icon" href="/image/favicon.png">

		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="{{ site.baseurl }}/js/jquery.min.js"></script>
		<script src="{{ site.baseurl }}/js/jquery.scrollzer.min.js"></script>
		<script src="{{ site.baseurl }}/js/jquery.scrolly.min.js"></script>
		<script src="{{ site.baseurl }}/js/skel.min.js"></script>
		<script src="{{ site.baseurl }}/js/skel-layers.min.js"></script>
		<script src="{{ site.baseurl }}/js/init.js"></script>
		<script src="{{ site.baseurl }}/js/lettering.min.js"></script>
		<noscript>
			<link rel="stylesheet" href="{{ site.baseurl }}/css/skel.css" />
			<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
			<link rel="stylesheet" href="{{ site.baseurl }}/css/style-xlarge.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
		