
.container {
	vertical-align: middle;
	padding: 15px;
	width: 80%;
	margin-left: auto;
    margin-right: auto;
    position: relative;
    background: #ffffff;
    overflow: hidden;
    box-shadow: 10px 10px  #888888;
}
.photo {
	width: 100%;
	padding-top: 40px;

}

a{  
    color: #939393;
    text-decoration: none;
    -o-transition:.4s;
    -ms-transition:.4s;
    -moz-transition:.4s;
    -webkit-transition:.4s;
    transition:.4s;
}

a:hover
{   

    text-shadow: 2px 2px #888888;
    color: #47D1FF;
}

.centered{
	display: block;
    margin-left: auto;
    margin-right: auto 
}
#name {
	font-size:60px;
	color: #47D1FF;
	font-weight: bold;
    /*text-shadow: 2px 2px #939393;*/
    font-family: 'Source Sans Pro', sans-serif; font-weight: bold;
}

#descriptor {
	font-size:30px;
	color: #939393;
    /*text-shadow: 3px 3px #29A3CC;*/
    font-family: 'Source Sans Pro', sans-serif; font-weight: 300;
}

body {
	font-family: 'Source Sans Pro', sans-serif; font-weight: 300;
	font-size: 20px;
	background-color: #47D1FF;
}

.body_text{
	color: #939393;
	padding-top: 40px;
}

.bubble 
{
	position: relative;
	width: 80%;
	/*height: 140px;*/
	padding: 0px;
	background: #FFFFFF;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding: 20px;
	box-shadow: 10px 10px  #888888;
}

.bubble:after 
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 20px 22px;
	border-color: #FFFFFF transparent;
	display: none;
	width: 0;
	z-index: 1;
	margin-left: -20px;
	top: -22px;
	left: 0%;

}

.text_emphasis{
	color: #47D1FF;
}

table, th, td {
    border: 2px solid #939393;
}

#footer
{
	font-size:18px;
}